[Unit]
Description=Service to autoload input-remapper
Requires=input-remapper.service
After=input-remapper.service

[Service]
Type=simple
ExecStart=/usr/local/bin/input-remapper-autoload

[Install]
WantedBy=default.target
Alias=input-remapper-autoload.service
